<section>
    <div class="bread-crumb">
        <div class="container">
            <span class="span-main" routerLink="/home">{{'home' | translate}}</span>
            <fa-icon class="fa-left" [icon]="faChevronLeft"></fa-icon>
            <fa-icon class="fa-right" [icon]="faChevronRight"></fa-icon>
            <span>{{'requestCar' | translate}}</span>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <h1>{{'requestData' | translate}}</h1>
            <span>{{'approximate' | translate}}</span>
            <div class="carRequestform">
                <form #carRequest="ngForm" id="contactForm" class="needs-validation" novalidate>

                    <div class="input-con">
                        <label class="form-label" for="txtfullName">* {{'name' | translate}}</label>
                        <input type="text" id="txtfullName" name="customerName" [(ngModel)]="order.customerName"
                            required #txtCustomerName="ngModel" class="form-control"
                            placeholder="{{'fullName' | translate}}">
                    </div>

                    <div class="input-con">
                        <label class="form-label" for="phone">* {{'phone' | translate}}</label>
                        <input type="text" id="phone" name="customerMobileNo" [(ngModel)]="order.customerMobileNo"
                            required #txtCustomerMobileNo="ngModel" class="form-control" placeholder="00966XXXXXXX">
                    </div>

                    <div class="input-con">
                        <label class="form-label" for="carSelection">* {{'selectCar' | translate}}</label>
                        <select id="carSelection" name="carId" [(ngModel)]="order.productId" required
                            class="form-control">
                            <option disabled selected>{{'selectCar' | translate}}</option>
                            <option *ngFor="let car of Cars" [value]="car.id">{{ baseService.isRTL ? car.nameAr :
                                car.nameEn }} {{ car.modelYear.Name }}</option>
                        </select>
                    </div>

                </form>
            </div>

            <div class="car-request-detailes">
                <button class="btn41-43 btn-41" form="carRequest" [disabled]="!(carRequest.valid && carRequest.dirty)"
                    (click)="saveCarRequest()"> <fa-icon [icon]="faPaperPlane"></fa-icon> {{'requestCar' | translate}}
                </button>
            </div>
        </div>
    </div>
</section>