<section>
    <div class="upper-header">
        <img class="headerbg" src="../../../assets/images/headerbg.png">
        <div class="centered"><img class="headerimg-details" [src]="this.url+'/'+brand.imageUrl" alt=""></div>
    </div>
    <div class="bread-crumb">
        <div class="container">
            <span class="span-main" routerLink="/home">{{'home' | translate}}</span>
            <fa-icon class="fa-left" [icon]="faChevronLeft"></fa-icon>
            <fa-icon class="fa-right" [icon]="faChevronRight"></fa-icon>
            <span class="span-main" routerLink="/brands">{{'brandsList' | translate}}</span>
            <fa-icon class="fa-left" [icon]="faChevronLeft"></fa-icon>
            <fa-icon class="fa-right" [icon]="faChevronRight"></fa-icon>
            <span>{{this.baseService.isRTL?brand.nameAr:brand.nameEn}}</span>
        </div>
    </div>

    <div class="cars-container">
        <div class="car-card" *ngFor="let product of products" (click)="navigateToCarDetails(product.id)">
            <div class="card-header">
                <img class="company-logo" [src]="this.baseService.appUrl+product.brand.imageUrl"
                    [alt]="product.brand.nameAr">
            </div>
            <div class="car-image">
                <img [src]="this.baseService.appUrl+product.imageUrl" [alt]="product.nameAr">
            </div>
            <div class="car-info">
                <h3>{{ baseService.isRTL ? product.nameAr : product.nameEn }} {{ product.modelYear.Name }}</h3>
            </div>
            <div class="price-section">
                <span class="aa">{{ product.sellingPrice | number }}</span>
                <span class="aa">{{ 'installmentsStartFrom' | translate }} {{ product.installmentPrice }} {{
                    'sar' | translate
                    }}</span>
            </div>

            <div class="car-specs">
                <div class="spec-item">{{ 'kilometers' | translate }}: {{ product.kilometers }}</div>
                <div class="spec-item">{{ 'specs' | translate }}: {{ product.option.nameAr }}</div>
                <div class="spec-item">{{ 'fuel' | translate }}: {{ baseService.isRTL ? product.fuelType.nameAr
                    :
                    product.fuelType.nameEn }}</div>
            </div>
        </div>
    </div>
</section>