<section>
    <div class="bread-crumb">
        <div class="container">
            <span class="span-main" routerLink="/home">{{'home' | translate}}</span>
            <fa-icon class="fa-left"  [icon]="faChevronLeft"></fa-icon>
            <fa-icon class="fa-right"  [icon]="faChevronRight"></fa-icon>
            <span>{{'notfound' | translate}}</span>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="ops-section">
                <h1>4</h1>
                <img src="../../../assets/images/404.png" alt="error">
                <h1>4</h1>
            </div>

            <div class="page-broken-content">
                <h1>{{'notfound' | translate}}</h1>
            </div>
        </div>
    </div>
</section>
