<section>
    <div class="bread-crumb">
        <div class="container">
            <span class="span-main" routerLink="/home">{{'home' | translate}}</span>
            <fa-icon class="fa-left" [icon]="faChevronLeft"></fa-icon>
            <fa-icon class="fa-right"  [icon]="faChevronRight"></fa-icon>
            <span>{{'services' | translate}}</span>
        </div>
    </div>

    <div class="main-content main-content3 ">
        <div class="container">
            <div class="about-head">
                <h1><span>{{'what' | translate}}</span> {{'weOffer' | translate}} </h1>
                <p><span>{{'ThisText' | translate}}</span>
                    {{'Thistextrest' | translate}}
                </p>
            </div>

            <div class="services-grid">
                <div class="service-con">
                    <img src="../../../assets/images/icons/ser1.png" alt="">
                    <br><br>
                    <h3>{{'fullWa' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>

                <div class="service-con">
                    <img src="../../../assets/images/icons/ser2.png" alt="">
                    <br><br>
                    <h3>{{'LowestPrice' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>

                <div class="service-con">
                    <img src="../../../assets/images/icons/ser3.png" alt="">
                    <br><br>
                    <h3>{{'RoadServices' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>

                <div class="service-con">
                    <img src="../../../assets/images/icons/ser4.png" alt="">
                    <br><br>
                    <h3>{{'Mobileapplication' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>

                <div class="service-con">
                    <img src="../../../assets/images/icons/ser1.png" alt="">
                    <br><br>
                    <h3>{{'fullWa' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>

                <div class="service-con">
                    <img src="../../../assets/images/icons/ser2.png" alt="">
                    <br><br>
                    <h3>{{'LowestPrice' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>

                <div class="service-con">
                    <img src="../../../assets/images/icons/ser3.png" alt="">
                    <br><br>
                    <h3>{{'RoadServices' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>

                <div class="service-con">
                    <img src="../../../assets/images/icons/ser4.png" alt="">
                    <br><br>
                    <h3>{{'Mobileapplication' | translate}}</h3>
                    <br>
                    <p>
                        {{'Thistextrest' | translate}}
                    </p>
                    <fa-icon [icon]="faChevronDown" routerLink="/services"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</section>